.controls {
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

button {
    margin-bottom: 8px;
}

.status {
    display: flex;
    margin: auto;

    & > div:first-child {
        margin-right: 5px;
    }
}