.main-container {
    padding: 16px;
}

.details-container {
    display: flex;
    & > img {
      width: 30%;
      height: auto;
      object-fit: contain
    }

    justify-content: center;
    margin-bottom: 16px;
}

.sideInfo {
    display: flex;
    flex-direction: column;
    padding: 16px;
    text-align: left;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
    display: flex;

    div {
        margin-right: 5px;
    }
}

.rowData {
    display: flex;
    font-size: .75em;
}

.columnData {
    display: flex;
    flex-direction: column;
    font-size: .75em;
    line-height: normal;
}

.topMargin {
    margin-top: 16px;
}

.subTitle {
    font-weight: bold;
    margin-right: 8px;
}

.artistContainer {
    display: flex;
    max-width: 300px;
    font-size: .75em;
}

.artist {
    white-space: nowrap;
    margin-right: 4px;
}