.main-container {
    padding: 16px;
}

.title {
    font-size: 1.75em;
    font-weight: bold;
}

.selection-table {
    margin-top: 16px;
    width: 100%;
}

.mat-icon {
    color: grey;
}

.mat-column-delete {
    width: 50px;
}